body {
    font-family: Arial;
    margin: 0;
    background: #111;
    color: white;
}

.navbar {
    background: black;
    padding: 15px;
}

.navbar a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.btn {
    padding: 10px 15px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}
.card {
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}

.card-img-top {
    border-radius: 8px 8px 0 0;
}